h1 {
    display: flex;
    justify-content: center;
}
.divCreated {
    height: auto;
    width: auto;
    border: 1px solid grey;
    background-color: white;
    
}
#gridContainer {
    display: grid;
    justify-self: center;
    margin-top: 5px;
    min-width: 300px;
    min-height: 300px;
    width: 90vw;
    height: 90vw;
    max-height: 82vh;
    max-width: 82vh;
    border: 3px solid black;
    background: white;
    grid-template-columns: repeat(var(--quantity), 1fr);
    grid-template-rows: repeat(var(--quantity), 1fr);
}
#grid{
    display: flex;
    align-items: center;
    justify-content: center;

}
#buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    min-width: 25px;
    min-height: 15px;
}
#clear {
    padding: 15px;
    margin: 5px;
}
#custom {
    padding: 15px;
    margin: 5px;
}
