h1 {
    display: flex;
    justify-content: center;
}
.divCreated {
    max-height: 35px;
    min-height: 35px;
    min-width: 35px;
    max-width: 35px;
    border: 1px solid grey;
    background-color: white;
    
}


#gridContainer {
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(var(--quantity), 1fr);
    grid-template-rows: repeat(var(--quantity), 1fr);
    min-height: 200px;
    min-width: 200px;
    height: auto;
    width: auto;
    max-height: 85vh;
    max-width: 85vw;
    border: solid;
    background-color:white; 
    border-color: black;
}
#grid{
    display: flex;
    align-items: center;
    justify-content: center;

}
#buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    min-width: 25px;
    min-height: 15px;
    
   
    
}
#clear {
    padding: 15px;
    margin: 5px;
    
    
}
#custom {
    padding: 15px;
    margin: 5px;
}
